* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.contenedor {
  padding-top: 30px;
  text-align: center;
  color: darkblue;
}

.titulo {
  padding-top: 60px;
  padding-bottom: 20px;
  font-size: 3rem;

}

.fotostart {
  border: blue 1px solid;
  border-radius: 10px;
}

.parrafo_uno {
  margin-top: 15px;
  padding: 10px;
  font-size: 2rem;
}

.parrafo_dos {
width:95%;
padding: 10px;
font-size: 2rem;
text-align: justify;
margin-left: auto;
margin-right: auto;
}
